/*  Home Page Styling */
*{
    margin: 0;
    padding: 0;
}

body {
    background: url("/images/beach-g4eed03cc5_1280.jpg") no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

header {
background: url("/images/hawaii-g475c906d7_640.jpg") center no-repeat;
       background-size: cover;
    height: 300px;
 } 

 nav, .hero-text {
    text-align: center;
   }

li {
display: inline-block;
margin-right: 15px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #FF8C00;

}

 .hero-text { 
   margin-top: 50px;
 }

/* Home Page Styling */
#main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    
}

h2 {
    text-align: center;
}
 
img {
    width: 400px;
    height: 300px;
    margin: 0 20px 30px 15px;
}

/* About Us Page Styling */
.hero-about{
    text-align: center;
    margin-top: 50px;
    color: #0079FF;
}

.welcome h2 {
    color: #0079FF;
    margin-top: 20px;
}

.about-us p{
    text-align: center;
    margin: 20px;
    font-family: 'Kalam', cursive;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    line-height: 25px;
    }
    
    /* Destinations Page Styling */
    /* Blog Page Styling */
    /* Contact Page Styling */

footer {
    margin-top: 100px;
    text-align: center;
    color: #fff;
}