/*  Home Page Styling */
*{
    margin: 0;
    padding: 0;
}

body {
    background: url("/images/beach-g4eed03cc5_1280.jpg") no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}

header {
background: url("/images/hawaii-g475c906d7_640.jpg") center no-repeat;
       background-size: cover;
    height: 300px;
 } 

 nav, .hero-text {
    text-align: center;
   }

li {
display: inline-block;
margin-right: 15px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #FF8C00;

}

 .hero-text { 
   margin-top: 50px;
 }

/* Home Page Styling */
#main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    
}

h2 {
    text-align: center;
}
 
img {
    width: 400px;
    height: 300px;
    margin: 0 20px 30px 15px;
}

/* About Us Page Styling */
.hero-about{
    text-align: center;
    margin-top: 50px;
    color: #0079FF;
}

.welcome h2 {
    color: #0079FF;
    margin-top: 20px;
}

.about-us p{
    text-align: center;
    margin: 20px;
    font-family: 'Kalam', cursive;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    line-height: 25px;
    }
    
    /* Destinations Page Styling */
    /* Blog Page Styling */
    .blog-title {
        margin-bottom: 15px;
    }

    .blog-summary img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        height: 200px;
    }

    .blog-summary p{
        margin: 0 40px;
        padding: 0 20px;
    }

    /* Contact Page Styling */
    #container{
        width: 600px;
        margin: 0 auto;
    }
    
form{
    margin-top: 40px;
    text-align: center;
}

fieldset {
    padding: 10px;
    border: none;
}

fieldset legend {
    background: #000;
    color: white;
    padding: 10px;
    text-align: center;
    border: solid 2px white;
}

input[type="text"],
input[type="email"],
textarea{
padding: 2px;
margin: 0 0 15px;
border: solid 1px #000;
width: 50%;
font-size: 14px;
font-family: sans-serif;
}

textarea {
    resize: none;
}

label {
display: block;
width: 50%;

}

button {
    background: #FF8C00;
    width: 80px;
    height: 30px;
    border-radius: 5px;

}

footer {
    margin-top: 100px;
    text-align: center;
    color: #fff;
}